<!DOCTYPE html>

    <html lang="en">

        <head>
            <link rel="stylesheet" href="/css/authenticator.css">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> {{ title }} </title>

        </head>

        <body>

            <div class="type">
                {{type}}

            
				<form action="/{{authenticator}}" method="POST">

					<input name="authCode" placeholder="Write Code from App...">
					<button type="submit">Submit</button>

				</form>
			</div> 
			
        </body>

    </html>