<!DOCTYPE html>

	<html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/homie.css">
            

        </head>

        <body>
		
            <h1>Zaloguj się!</h1>
			
			<main>

				<div class="box">
				
                    <div class="Icons">
                        <a href="http://localhost:3000/google"> 
                            <img src="Google.png">
                        </a>

                        <a href="http://localhost:3000/github">
                            <img src="Github.png">
                        </a>

                        <a href="http://localhost:3000/youtube">
                            <img src="Youtube.png">
                        </a>
                        
                        <a href="http://localhost:3000/oauth/facebook">
                            <img src="Facebook.png">	
                        </a>

                    </div>
					
				</div>
				
			</main>
			
		</body>

	</html>