<!DOCTYPE html>

	<html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/home.css">
            

        </head>

        <body>
		
            <h1>Zaloguj się!</h1>
			
			<main>

				<div class="box">
					<a href="http://localhost:3000/google">
						<div class="Icons">    
							<img src="/images/Google.png">
							<img src="/images/Github.png"><br>
							<img src="/images/Youtube.png">
							<img src="/images/Facebook.png">
						</div>
					</a>
				</div>
			</main>
		</body>

	</html>