{{!-- <!DOCTYPE html>

    <html lang="en">

        <head>

            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> {{ title }} </title>

        </head>

        <body>

            <form action="/adminConsole" method="POST">

                <select>

                    <option name="give_admin_role" >Give Admin</option> {{!-- onclick=changeOption() --}}
                    <option name="showAdmins" >Show Admins</option> 

                </select>

                <input name="data" placeholder="Write option data... (ex. nick)">
                
                <button type="submit">Submit</button>

            </form>

            <p id="alert"></p>

        </body>

        <script src="/js/admin.js"></script>

    </html> --}}